body{
  background-image: url(./Images/Molecular.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inputBox{
  position: absolute;
  height: 500px;
  width: 400px;
  left: 45rem;
  top: 60px;
}
ul li{
  list-style-type: none;
  margin: 10px;
}
.grid{
  position: absolute;
  margin: 20px;
}
.text{
  font-size: 30px;
}
.card{
  margin: 20px;
  width: 1300px;
  left: 15rem;
  color: rgb(10, 2, 29);
}
.delBtn{
  position: absolute;
  right: 10px;
  top:100px;
}
.openModalBtn{
  position: absolute;
  top: 10px;
  right: 5px;
}
.closeModalBtn{
  position: absolute;
  right: 0;
  top: 0;
}
.editNoteBtn{
  position: absolute;
  bottom: 0;
  left: 0;
}
