.inputBox{
  position: absolute;
  height: 500px;
  width: 400px;
  left: 45rem;
  top: 60px;
}
ul li{
  list-style-type: none;
  margin: 10px;
}
.grid{
  position: absolute;
  margin: 20px;
}
.text{
  font-size: 30px;
}

